.sidebar {
    flex: 3;
    margin: 20px;
    padding-bottom: 30px;
    background-color: #242526;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    margin: 10px;
    color: #fff;
}

.sidebar-item {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidebar-title {
    font-family: "Valera Round", sans-serif;
    margin: 10px;
    padding: 10px;
    width: 75%;
    border: 1px solid #fff;
    color: #fff;
    border-radius: 8px;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: center;
    
}

.sidebar-list {
    color: #fff;
    margin-bottom: 26px;
    padding: 0;
    list-style: none;
}

.sidebar-list-item{
    display: inline-block;
    width: 40%;
    margin-left: 5%;
}

.sidebarIcon{
    font-size: 20px;
    margin-right: 10px;
    color : #fff;
    background-color: #242526 ;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px;
    justify-content: center;
    align-items: center;
    display: inline-flex;
    
}
