.post {
    width: 390px;
    margin: 0px 25px 40px 25px;
}

.post-image {
    width: 100%;
    height: 280px;
    object-fit: cover;
    border-radius: 8px;
}

.post-info {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.post-cats {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #828282;
    line-height: 20px;
    margin-top: 15px;
    margin-right: 10px;
    cursor: pointer;
}

.post-title {
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
}

.post-date {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    line-height: 20px;
    margin-top: 15px;
}

.post-desc {
    font-family: "Varela Round", sans-serif;
    font-size: 14px;
    color: #272323;
    line-height: 25px;
    margin-top: 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
}