.about {
    flex:80;
    display: flex;
    flex-wrap: wrap;
}

:root{
    --margin-val: 20px;
}

.about-single{
    display: flexbox;
    font-family: "Varela Round", sans-serif;
    margin: 20px;
    padding: 10px;
    color : #fff;
    background-color: rgba(36, 37, 38, 1);
    max-width: 355px;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    max-height: 450px;
}

.about-title {
    font-family: "Varela Round", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin-top: 15px;
    color: #bbb;
}

